* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: lightblue;
}

/* NAVBAR */
.navbar {
  background: #e5332a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-left: -15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-refresh {
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #e5332a;
}

.btn-switch {
  background: #222;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

/* MAIN LAYOUT */
.container {
  display: grid;
  grid-template-columns: 260px 1fr 330px;
  gap: 15px;
  padding: 15px;
}

/* LEFT SIDEBAR */
.sidebar-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50PX;
  margin-bottom: 10px;
}

.profile-card h3 {
  font-size: 16px;
}

.profile-card p {
  font-size: 12px;
  color: gray;
  margin: 8px 0;
}

.btn-edit {
  background: darkblue;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.menu-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.menu-card a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
 
}

.company-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 13px;
  color: #333;
}

.company-card h4 {
  margin-bottom: 10px;
  color: #111;
}

/* FEED CENTER */
.feed {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 450px;
}

.post-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  gap: 10px;
}

.post-actions button {
  border: 1px solid #ccc;
  background: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}


.job-cards {
  display: flex;
  gap: 10px;
  width: 450px;
}

.job-card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
}

.job-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.job-card h4 {
  font-size: 14px;
  margin-top: 8px;
}

.job-card p {
  font-size: 12px;
  color: gray;
  margin: 5px 0;
}

.job-card button {
  background: darkblue;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

/* FEED POST */
.feed-post {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 450px;
}

.feed-post h4 {
  font-size: 15px;
  margin-bottom: 8px;
}

.feed-post p {
  font-size: 13px;
  margin: 3px 0;
  color: #444;
}

.feed-buttons {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.feed-buttons button {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  font-size: 12px;
}

/* RIGHT SIDEBAR */
.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featured-job {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 150px;

}

.featured-job img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.job-detail {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.job-detail h3 {
  font-size: 18px;
  color: #111;
}

.job-title {
  font-size: 13px;
  margin-top: 5px;
  color: #444;
}

.job-location {
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.countdown {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 150px;
  float: right;
  margin-top: -32px;
}

.countdown div {
  text-align: center;
}

.countdown b {
  font-size: 16px;
  color: #e5332a;
}

.countdown span {
  display: block;
  font-size: 11px;
  color: black;
}

.job-detail h4 {
  margin-top: 12px;
  font-size: 14px;
  color: #111;
}

.job-detail p {
  font-size: 12px;
  color: #444;
  margin-top: 6px;
}

.job-detail ul {
  margin-top: 6px;
  padding-left: 20px;
}

.job-detail ul li {
  font-size: 12px;
  margin: 4px 0;
  color: #444;
}
.icon-na{
  font-size: 12px;
  margin-left: -8pxs;
}
.ic{
  width: 13px;
  margin-right: -6px;
  margin-top: -13px;
}
.favo{
  margin-left: 167PX;
  width: 190px;
  background: white;
  border-radius: 10px;
  height: 160px;
  margin-top: -180px;

}